
@{
    ViewData["Title"] = "Customers";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="d-flex justify-content-between align-items-center">
    <h2>Customers</h2>
</div>

<table class="table table-striped mt-4">
    <thead>
        <tr>
            <th scope="col">Customer ID</th>
            <th scope="col">Customer First Name</th>
            <th scope="col">Customer Last Name</th>
            <th scope="col">Customer Phone</th>
            <th scope="col">Customer Mail</th>
            <th scope="col">Settings</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        <tr>
            <td>1001</td>
            <td>Ahmet Faruk</td>
            <td>Türk</td>
            <td>05437431400</td>
            <td>af_trk@hotmail.com</td>
            <td>
                <button type="button" class="btn btn-danger">Delete</button>
            </td>
        </tr>
        <tr>
            <td>1001</td>
            <td>Ahmet Faruk</td>
            <td>Türk</td>
            <td>05437431400</td>
            <td>af_trk@hotmail.com</td>
            <td>
                <button type="button" class="btn btn-danger">Delete</button>
            </td>
        </tr>
        <tr>
            <td>1001</td>
            <td>Ahmet Faruk</td>
            <td>Türk</td>
            <td>05437431400</td>
            <td>af_trk@hotmail.com</td>
            <td>
                <button type="button" class="btn btn-danger">Delete</button>
            </td>
        </tr>
    </tbody>
</table>